@font-face {
  font-family: 'TT Travels';
  src: 
  url('../fonts/TTTravels-Bold.woff2') format('woff2'), 
  url('../fonts/TTTravels-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src:
   url('../fonts/Ubuntu-Regular.woff2') format('woff2'), 
   url('../fonts/Ubuntu-Regular.woff') format('woff'); 
  font-weight: 400;
  font-style: normal;
}